{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
	<!--start: Container -->
	<div class="container">
		<!--start: Wrapper-->
        {% include "navigation.html" %}

            <div id="wrapper">
                <div class="span6 portfolio-item">
                   <h3 class="blue-heading-h1"><span>Ligation and Transformation</span></h3>
                    <br>
                   <h3 class="blue-heading-h3"><span style="font-weight:bold">Intended Learning Outcomes</span></h3>
                    <ul class="square_list"><li><span style="color:black">Describe the strategies used in cloning DNA into a suitable plasmid vector</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Describe, and be able to perform, transformation of E.coli with a plasmid</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Be able to perform calculations relating to Molecular Methods, including transformation efficiency, dilutions and concentrations</span></li></ul>

                    <h3 class="blue-heading-h3" cl><span style="font-weight:bold">Task List</span></h3>
                    <ul class="square_list"><li><span style="color:black">Restriction digest PCR sample</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Ligate PCR product into a digested plasmid vector</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Transform E.coli with recombinant plasmid</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Undertake Exercise ‘Calculations’</span></li></ul>
                </div>
                <div class="span4 portfolio-item" style="padding-left:130px">

                    <div class="picture" style="max-width: 50%" ><a href="{% url 'desktop:ligationlabpdf' %}"><img src="{% static  'img/lab2-LaT.png' %}" alt=""/>
                        <div class="image-overlay-link"></div></a> </div>
                    <br>
                    <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:ligationlabpdf' %}">Ligation Lab Instructions</a></span> </i></h3>
                    <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:Ligation_Calculations' %}">Ligation Lab Exercise</a></span> </i></h3>

                </div>
            </div><!-- end: Wrapper -->
    </div><!-- end: Container -->
 {% endblock %}