{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <!--start: Container -->
    <div class="container">
        <!--start: Wrapper-->
        {% include "navigation.html" %}

        <div id="wrapper">
            <div class="row row-centered">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 align-left">
                    <h1 class="blue-heading-h1"><span>Plasmid Miniprep</span></h1>
                    <br>
                    <h3 class="blue-heading-h3"><span style="font-weight:bold">Intended Learning Outcomes</span></h3>
                    <ul class="square_list"><li><span style="color:black">Describe and perform a small-scale plasmid purification from an overnight culture</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Understand the concept of, and be able to deduce, a restriction map for a plasmid</span></li></ul>

                    <h3 class="blue-heading-h3"><span style="font-weight:bold">Task List</span></h3>
                    <ul class="square_list"><li><span style="color:black">Harvest and mini-prep E. coli cultures in order to purify plasmids</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Check the success of the cloning procedure by restriction digest and gel electrophoresis</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Undertake Exercise ‘Restriction Mapping’</span></li></ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"><br></div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-8 align-left">
                    <div ><a href="{% url 'desktop:plasmidlabpdf' %}"><img src="{% static  'img/lab4-PM.png' %}" class="img-responsive " alt="Responsive image"/>
                        <div class="image-overlay-link"></div></a> </div>
                    <br>
                    <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:plasmidlabpdf' %}">Method</a></span> </i></h3>
                    <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:Restriction_Mapping_Exercise' %}">Lab Exercise</a></span> </i></h3>
                </div>
            </div><!-- end: Wrapper -->
        </div><!-- end: Container -->
{% endblock %}