{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <!--start: Container -->
    <div class="container">
        <!--start: Wrapper-->
        {% include "navigation.html" %}
        <div id="wrapper">
            <div class="row row-centered">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 align-left">
                    <h1 class="blue-heading-h1"><span style=>Real-Time Quantitative PCR</span> </h1>
                    <br>
                    <h3 class="blue-heading-h3"><span style="font-weight:bold">Intended Learning Outcomes</span></h3>
                    <ul class="square_list"><li><span style="color:black">Describe the theory of, and be able to design and perform, a real-time quantitative polymerase chain reaction (PCR) reaction</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Understand the different applications of conventional PCR vs RT-qPCR</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Compare and contrast PCR and real-time qPCR</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Analyse real-time qPCR data</span></li></ul>

                    <h3 class="blue-heading-h3"><span style="font-weight:bold">Task List</span></h3>
                    <ul class="square_list"><li><span style="color:black">Design primers to amplify the HIV gene sequence</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Perform gel electrophoresis of conventional PCR</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Analyse RT-qPCR data in Computing Exercise ‘Real-time qPCR Data Analysis’</span></li></ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"><br></div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-8 align-left">
                    <div ><a href="{% url 'desktop:qpcrlabpdf' %}"><img src="{% static  'img/lab6-rtqPCR.png' %}" class="img-responsive " alt="Responsive image"/>
                        <div class="image-overlay-link"></div></a> </div>
                    <br>
                    <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:qpcrlabpdf' %}">Real-Time Quantitative PCR Lab Instructions</a></span> </i></h3>
                    <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:QPCR_Exercises' %}">Real-Time Quantitative PCR Lab Exercise</a></span> </i></h3>
                </div><!-- end: Wrapper -->
            </div><!-- end: Container -->
        </div>
    </div>
{% endblock %}