<!DOCTYPE html>{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<!--start: Container -->
<div class="container">

    <!--start: Wrapper-->
    <div id="wrapper">

        <hr class="clean">

        <!-- start: Row -->
        <div class="row">

            <div class="container-fluid" id="content" data-role="content">

                <script src="/static/js/calculation.js"></script>
                <ul class="container" data-theme="b" data-role="collapsible-set">
                    <div class="container"style="text-color:#000000;" data-role="collapsible" data-theme="a" data-corners="false">
                        <h3><font color="black"> Weight / Volume (W/V)</font></h3>
                        <table border="0" cellpadding="0" cellspacing="0" margin="0">
                            <tr>
                                <td><font color="black">Weight (grams)</td>
                                <td><font color="black"><input type="text" style="color: #000000" value="" name="op1" id="op1" class="rsform-input-box"/></td>
                            </tr>
                            <tr>
                                <td><font color="black">Volume (ml)</td>
                                <td><font color="black"><input type="text" style="color: #000000" value="" name="op2" id="op2" class="rsform-input-box"/></td>
                            </tr>
                            <tr>
                                <td><font color="black">Percentage =</td>
                                <td><font color="black"><input type="text" style="color: #000000" value="" name="res" id="res" readonly="readonly"
                                           class="rsform-input-box"/></td>
                            </tr>
                            <tr>
                                <td><font color="black"><input type="button"  value="Calculate" name="CalculateResult1" id="cal1"
                                           onclick="calculateForm5()" class="rsform-button"/></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <div class="container" data-role="collapsible" data-theme="a" data-corners="false">
                        <h3><font color="black"> Use Volume / Total Volume (V/V) </h3>
                        <table border="0" cellpadding="0" cellspacing="0" margin="0">
                            <tr>
                                <td><font color="black">Volume (ml)</td>
                                <td><font color="black"><input type="text" style="color: #000000" value="" name="op3" id="op3" class="rsform-input-box"/></td>
                            </tr>
                            <tr>
                                <td><font color="black">Total Volume (ml)</td>
                                <td><font color="black"><input type="text" style="color: #000000" value="" name="op4" id="op4" class="rsform-input-box"/></td>
                            </tr>
                            <tr>
                                <td><font color="black">Percentage =</td>
                                <td><font color="black"><input type="text" style="color: #000000" value="" name="res2" id="res2" readonly="readonly"
                                           class="rsform-input-box"/></td>
                            </tr>
                            <tr>
                                <td><input type="button" value="Calculate" name="CalculateResult1" id="cal1"
                                           onclick="calculateForm6()" class="rsform-button"/></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </ul>


            </div>

        </div>
        <!-- end: Row -->


    </div>
    <!--end: Container-->

</div>
{% endblock %}