<!doctype html>
<html xmlns="http://www.w3.org/1999/html"><head></head><body>{% load staticfiles %}



    <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
    <title>Desktop</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">





<div class="container">


    <div class="modal-dialog">
        <div class="jumbotron">
        <form id="login_form" method="post" action="{% url 'desktop:login' %}">
             {% if bad_details %}
            <p><strong style="color: #00008b">Your username and/or password were incorrect!</strong></p>
            {% elif disabled_account %}
            <p><strong>Your account is currently disabled; we can't log you in!</strong></p>
            {% endif %}
            <h2 style="color: #00008b">Login</h2>
            {% csrf_token %}
            <input class="input-large form-control" type="text" style="color: #00008b" name="username" value="" id="username" placeholder="Username">
            <input class="input-large form-control" type="password" style="color: #00008b" name="password" value="" id="" placeholder="Password">
            <br>
            <input type="submit" value="Login" style="color: #00008b" class="form-control">
            <br><br>
            <a href="{% url 'desktop:register' %}" class="btn btn-primary btn-lg btn-inverse" role="button">Register</a>
            <a href="{% url 'desktop:pwdReset' %}" class="btn btn-primary btn-lg btn-inverse" role="button">Forgot Password?</a>
        </form>


    </div>
</div>
</div>


<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<script defer="defer" src="{% static 'js/custom.js' %}"></script>
<!-- end: Java Script --></body></html>