<!doctype html>
<html xmlns="http://www.w3.org/1999/html"><head></head><body>{% load staticfiles %}



<!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
<title>Desktop</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/logo-nav.css' %}">



<div class="container">
    <div class="modal-dialog">
        <div class="jumbotron">
            <div class="row">
                <h2 class="pull-left" style="color: #005984">Login</h2><a href="#" class=" pull-right">
         <img style="height: 50px; margin-top: -5px;" src=" {% static 'img/logo8.png' %}" alt="logo"></a></div>
            <form id="login_form" method="post" action="{% url 'desktop:login' %}">
                {% if bad_details %}
                    <p><strong style="color: #00008b">Your username and/or password were incorrect!</strong></p>
                {% elif disabled_account %}
                    <p><strong>Your account is currently disabled; we can't log you in!</strong></p>
                {% endif %}

                {% csrf_token %}
                <input class="input-large form-control" type="text" style="color: #00008b" name="username" value="" id="username" placeholder="Username">
                <input class="input-large form-control" type="password" style="color: #00008b" name="password" value="" id="" placeholder="Password">
                <br>
                <input type="submit" value="Login" class="form-control btn btn-primary btn-lg " style="padding-bottom: 30px" role="button">
                <br><br>
            <div class="btn-group-justified ">
                <a href="{% url 'desktop:register' %}" class="btn btn-primary btn-lg btn" role="button">Register</a>

                <a href="{% url 'desktop:pwdReset' %}" class="btn btn-primary btn-lg btn " role="button">Forgot Password?</a>
                </div>
            </form>


        </div>
    </div>
</div>
<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script defer="defer" src="{% static 'js/custom.js' %}"></script>
<!-- end: Java Script --></body></html>