{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}

<!--start: Container -->
<div class="container">

    <!--start: Wrapper-->
    <div id="wrapper">

        <h1 class="blue-heading-h1 hidden-xs" >About the App</h1>
        <br>
         <h3 class="blue-heading-h3" style="text-align: justify;">The aim of this app is to enhance preparation for the Molecular Methods course.
             Student perception and use of the app will be evaluated and we are very interested in your feedback.
             Please use the form below to submit your feedback, or alternatively email Dr Pamela Scott at
             <a href="mailto:Pamela.Scott@glasgow.ac.uk">Pamela.Scott@glasgow.ac.uk</a>. </h3>
        <br>

         <h2 class="blue-heading-h2 hidden-xs" >Contact us</h2>

        {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form action="{% url 'app:about' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="input-large form-control" type="text" style="color: #00008b" size="30" name="subject" value="" id="subject" placeholder="Subject">
            <input class="input-large form-control" type="text" style="color: #00008b" size="30" name="email" value="" id="email" placeholder="Email (optional)">
            <div class="form-group">
                <h2>Feedback:</h2>
                <textarea class="input-large form-control" rows="5" name="message" id="message" placeholder="Enter feedback here ..."></textarea>
            </div>
            <!--<textarea name="message" rows="7" cols="30"  style="color: #00008b" placeholder="Enter feedback here"></textarea>-->
            <input type="submit" value="Send email" class="form-control btn btn-primary btn-lg " style="padding-bottom: 30px" role="button">

        </form>
    </div>
</div>
<!--end: Container-->

{% endblock %}