{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<!--start: Container -->
<div class="container">

    <!--start: Wrapper-->
    <div id="wrapper">
        <div style="color:white;" align="center"><h1 class="blue-heading-h1">Restriction Mapping Exercise</h1></div>
        <br>
        <script src="{% static 'js/kinetic-v4.7.4.min.js'%}"></script>
        <script src="{% static 'js/drawCircle.js' %}"></script>
        <h2> Try to draw the following plasmid maps on paper.</h2>
        <form action="">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active tab1"><a href="#tab1" data-toggle="tab">1</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab">2</a></li>
                    <li class=""><a href="#tab3" data-toggle="tab">3</a></li>
                    <li class=""><a href="#tab4" data-toggle="tab">4</a></li>
                    <li class=""><a href="#tab5" data-toggle="tab">5</a></li>
                    <li class=""><a href="#tab6" data-toggle="tab">6</a></li>
                </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="tab1">
                        <div class="container" align="left" float="left">
                            <h2 class="blue-heading-h2">Question Number 1:</h2>
                            <h3 class="blue-heading-h3">Uncut plasmid (circular) 7.0kb  </h3>
                            <h3 class="blue-heading-h3">EcoRI 7.0 kb  </h3>
                            <h3 class="blue-heading-h3">UXhoI 5.5, 1.5 kb  </h3>
                            <h3 class="blue-heading-h3">EcoRI+XhoI 3.0, 2.5, 1.5 kb  </h3>
                        </div>
                        <div>
                            <h2 class="blue-heading-h2"><a href="#" data-toggle="collapse" data-target="#answer">+ Answer</a></h2>
                            <div id="answer" class="collapse" style="width: 500px; height: 1px;">
                                <span id="container1"><img src="{% static 'img/1.png' %}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div div class="container" align="left" float="left">
                            <h2 class="blue-heading-h2">Question Number 2:</h2>
                            <h3 class="blue-heading-h3">Uncut plasmid (circular) 6.0kb   </h3>
                            <h3 class="blue-heading-h3">EcoRI 1.0, 2.0, 3.0 kb  </h3>
                            <h3 class="blue-heading-h3">XhoI 6.0 kb  </h3>
                            <h3 class="blue-heading-h3">EcoRI+XhoI 1.0, 1.2, 1.8, 2.0 kb  </h3>
                        </div>
                        <div>
                            <h2 class="blue-heading-h2"><a href="#" data-toggle="collapse" data-target="#answer2">+ Answer</a></h2>
                            <div id="answer2" class="collapse" style="width: 500px; height: 1px;">
                                <span id="container2"><img src="{% static 'img/2.png' %}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div div class="container" align="left" float="left">
                            <h2 class="blue-heading-h2">Question Number 3:</h2>
                            <h3 class="blue-heading-h3">Uncut plasmid (circular) 7.0kb  </h3>
                            <h3 class="blue-heading-h3">EcoRI 7.0 kb  </h3>
                            <h3 class="blue-heading-h3">XhoI 6.0, 1.0 kb  </h3>
                            <h3 class="blue-heading-h3">EcoRI+XhoI 3.0, 1.0 kb  </h3>
                        </div>
                        <div>
                            <h2 class="blue-heading-h2"><a href="#" data-toggle="collapse" data-target="#answer3">+ Answer</a></h2>
                            <div id="answer3" class="collapse" style="width: 500px; height: 1px;">
                                <span id="container3"><img src="{% static 'img/3.png' %}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <div div class="container" align="left" float="left">
                            <h2 class="blue-heading-h2">Question Number 4:</h2>
                            <h3 class="blue-heading-h3">Uncut plasmid (circular) 7.0kb  </h3>
                            <h3 class="blue-heading-h3">EcoRI 5.0, 2.0 kb  </h3>
                            <h3 class="blue-heading-h3">XhoI 6.0, 1.0 kb  </h3>
                            <h3 class="blue-heading-h3">EcoRI+XhoI 3.0, 2.0, 1.0 kb </h3>
                        </div>
                        <div>
                            <h2 class="blue-heading-h2"><a href="#" data-toggle="collapse" data-target="#answer4">+ Answer</a></h2>
                            <div id="answer4" class="collapse" style="width: 500px; height: 1px;">
                                <span id="container4"><img src="{% static 'img/4.png' %}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <div div class="container" align="left" float="left">
                            <h2 class="blue-heading-h2">Question Number 5:</h2>
                            <h3 class="blue-heading-h3">Uncut plasmid (circular) 6.0kb   </h3>
                            <h3 class="blue-heading-h3">EcoRI 2.8, 3.2 kb  </h3>
                            <h3 class="blue-heading-h3">XhoI 1.3, 4.7 kb  </h3>
                            <h3 class="blue-heading-h3">EcoRI+XhoI 0.6, 0.7, 2.1, 2.6 kb  </h3>
                        </div>
                        <div>
                            <h2 class="blue-heading-h2"><a href="#" data-toggle="collapse" data-target="#answer5">+ Answer</a></h2>
                            <div id="answer5" class="collapse" style="width: 500px; height: 1px;">
                                <span id="container5"><img src="{% static 'img/5.png' %}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab6">
                        <div div class="container" align="left" float="left">
                            <h2 class="blue-heading-h2">Question Number 6:</h2>
                            <h3 class="blue-heading-h3">Uncut plasmid (circular) 7.0kb  </h3>
                            <h3 class="blue-heading-h3">EcoRI 5.0, 1.2, 0.8 kb  </h3>
                            <h3 class="blue-heading-h3">XhoI 4.0, 3.0 kb  </h3>
                            <h3 class="blue-heading-h3">EcoRI+XhoI 3.0, 2.0, 1.0, 0.2, 0.8 kb  </h3>
                        </div>
                        <div>
                            <h2 class="blue-heading-h2"><a href="#" data-toggle="collapse" data-target="#answer6">+ Answer</a></h2>
                            <div id="answer6" class="collapse" style="width: 500px; height: 1px;">
                                <span id="container6"><img src="{% static 'img/6.png' %}"></span>
                            </div>
                        </div>
                    </div>
                </div>

        </form>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}