{% load base_extras %}

{% load staticfiles %}

<div class="container">
    <nav>
        <ul class="nav na nav-justified hidden-xs">
            <li class="active"><a class=" "href="{% url 'app:pcrlab' %}"><img style="height: 50px; margin-top: -25px;" src=" {% static 'img/lab1-PCR.png' %}" alt=""></a></li>
            <li><a href="{% url 'app:ligation' %}"><img style="height: 50px; margin-top: -25px;" src=" {% static 'img/lab2-LaT.png' %}" alt=""></a></li>
            <li><a href="{% url 'app:bwscreening' %}"><img style="height: 50px; margin-top: -25px;" src=" {% static 'img/lab3-BWS.png' %}" alt=""></a></li>
            <li><a href="{% url 'app:plasmid' %}"><img style="height: 50px; margin-top: -25px;" src=" {% static 'img/lab4-PM.png' %}" alt=""></a></li>
            <li><a href="{% url 'app:dna' %}"><img style="height: 50px; margin-top: -25px;" src=" {% static 'img/lab5-DNA.png' %}" alt=""></a></li>
            <li><a href="{% url 'app:quantpcr' %}"><img style="height: 50px; margin-top: -25px;" src=" {% static 'img/lab6-rtqPCR.png' %}" alt=""></a></li>
        </ul>
    </nav>
</div>
