{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <!--start: Container -->
	<div class="container">

        <!--start: Wrapper-->
        <div id="wrapper">
            <div class="slider-wrapper">
                <div id="da-slider-pdf" class="da-slider" style="width: 1000px; height:1200px;">
                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px; margin-bottom: 800px;    ">
                                <img src="{% static 'img/pcr/Primer Design Exercise_01.png' %}">
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                                <img src="{% static 'img/pcr/Primer Design Exercise_02.png' %}">
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                               <img src="{% static 'img/pcr/Primer Design Exercise_03.png' %}">
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                               <img src="{% static 'img/pcr/Primer Design Exercise_04.png' %}">
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                               <img src="{% static 'img/pcr/Primer Design Exercise_05.png' %}">
                            </div
                        </div>
                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                               <img src="{% static 'img/pcr/Primer Design Exercise_06.png' %}">
                            </div
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                               <img src="{% static 'img/pcr/Primer Design Exercise_07.png' %}">
                            </div
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                               <img src="{% static 'img/pcr/Primer Design Exercise_08.png' %}">
                            </div
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                               <img src="{% static 'img/pcr/Primer Design Exercise_09.png' %}">
                            </div
                        </div>
                                        <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav>
                    </div>

                </div>


        </div>
    </div>
{% endblock %}