{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}

<!--start: Container -->
<div class="container">

    <!--start: Wrapper-->
    <div id="wrapper">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 class="blue-heading-h3" align="center"> This page is still under development. Thank you for your patience.</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <!--end: Wrapper-->
    </div>
    <!--end: Container-->
</div>
{% endblock %}