{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <div class="container">
        <!--start: Wrapper-->
        <div id="wrapper">
            <!-- start: Row -->

            <div class="row-fluid">
                <div class="span6">
                    <div class="container-fluid" style="max-width: 40%" >
                       <h1 class="blue-heading-h1"><span>PCR & Primers</span></h1>
                        <iframe width="420" height="270" allowfullscreen="" src="http://www.youtube.com/embed/c-f1H07D_70" style="align-content: center"></iframe>
                        <div class="btn-group" style="align-items: stretch">
                            <button
                            <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:primersquizzes' %}">PCR and Primers Quiz</a></span> </i></h3>
                            <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:Primer_Design_Exercise' %}">Primer Design Exercise</a></span> </i></h3>
                            <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:Electrophoresis' %}">PCR Lab Exercise</a></span> </i></h3>

                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <div class="container-fluid" style="max-width: 40%" >
                            <h1 class="blue-heading-h1" ><span>Restriction Mapping 1</span></h1>
                            <iframe width="420" height="270" allowfullscreen="" src="http://www.youtube.com/embed/yR_heZ4n4Gc" style="align-content: center"></iframe>
                            <div class="btn-group" style="align-items: stretch">
                                <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:restrictionquizzes' %}">Restriction Mapping Quiz</a></span> </i></h3>
                                <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:Restriction_Mapping_Exercise' %}">Restriction Mapping Lab Exercise</a></span> </i></h3>
                                <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:mapping' 1 %}">Restriction Mapping Exercises</a></span> </i></h3>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row-fluid">
                <div class="span6">
                    <br>
                    <div class="container-fluid" style="max-width: 40%" >
                         <h1 class="blue-heading-h1" ><span>Restriction Mapping 2</span></h1>
                        <iframe width="420" height="270" allowfullscreen="" src="http://www.youtube.com/embed/MeTWD8ECeiQ" style="align-content: center"></iframe>
                        <div class="btn-group" style="align-items: stretch">
                            <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:generalquizzes' %}">Molecular Methods Quiz</a></span> </i></h3>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                         <br>
                        <div class="container-fluid" style="max-width: 40%" >

                            <h1 class="blue-heading-h1" ><span>Data Calculations</span></h1>

                            <iframe width="420" height="270" allowfullscreen="" src="https://www.youtube.com/embed/vOwdQRBENJQ" style="align-content: center"></iframe>
                            <div class="btn-group" style="align-items: stretch">
                                <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:dataquizzes' %}">Data Calculations  Quiz</a></span> </i></h3>
                                <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:Ligation_Calculations' %}">Data Calculations Lab Exercise</a></span> </i></h3>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>
    </div>
{% endblock %}