{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}

    <div class="container">
        <!--start: Wrapper-->
        <div id="wrapper">
            <!-- start: Row -->
            <div class="row">
                <h1 class="blue-heading-h1">PCR & Primers</h1>
                <div class="row col-lg-8">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="pcr-tabs" >
                        <li class="active"><a href="#home_pcr"  data-toggle="tab">PCR & Primers</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home_pcr"><iframe width="560" height="315" src="http://www.youtube.com/embed/c-f1H07D_70"></iframe></div>
                    </div>
                </div>
                <div class="row col-lg-4">
                    <div class="row">
                        <a href="{% url 'desktop:primersquizzes' %}" title="Quiz"><img src="{% static 'img/logoRevision.png' %}" class="img-responsive col-lg-5 pull-left "/>
                            <div class="image-overlay-link"></div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="{% url 'desktop:Primer_Design_Exercise' %}" title="Exercise"><img src="{% static 'img/logoRevision.png' %}" class="img-responsive col-lg-5 pull-right "/>
                            <div class="image-overlay-link"></div>
                        </a>
                    </div>
                    <div class="row" >
                        <a href="{% url 'desktop:Electrophoresis' %}" title="Lab_Exercise"><img src="{% static 'img/logoRevision.png' %}" class="img-responsive col-lg-5 pull-left "/>
                            <div class="image-overlay-link"></div>
                        </a>
                    </div>
                       <div class="row">
                        <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:primersquizzes' %}">PCR and Primers Quiz</a></span> </i></h3>
                        <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:Primer_Design_Exercise' %}">Primer Design Exercise</a></span> </i></h3>
                        <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:Electrophoresis' %}">PCR Lab Exercise</a></span> </i></h3>
                    </div>
                </div>

            </div> <!--end: Row -->

            <!-- start: Row -->
            <div class="row">
                <h1 class="blue-heading-h1">Restriction Mapping</h1>
                <div class="row col-lg-8">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="rm-tabs" >
                        <li class="active"><a href="#home_rm"  data-toggle="tab">Restriction Mapping 1</a></li>
                        <li ><a href="#video2_rm" data-toggle="tab">Restriction Mapping 2</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home_rm"><iframe width="560" height="315" src="http://www.youtube.com/embed/yR_heZ4n4Gc"></iframe></div>
                        <div class="tab-pane" id="video2_rm"><iframe width="560" height="315" src="https://www.youtube.com/embed/MeTWD8ECeiQ" ></iframe></div>
                    </div>
                </div>
                <div class="row col-lg-4" >
                    <div class="row" style="align-items: stretch">
                        <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:restrictionquizzes' %}">Restriction Mapping Quiz</a></span> </i></h3>
                        <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:Restriction_Mapping_Exercise' %}">Restriction Mapping Lab Exercise</a></span> </i></h3>
                        <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:mapping' 1 %}">Restriction Mapping Exercises</a></span> </i></h3>
                    </div>
                </div>
            </div> <!--end: Row -->

            <!-- start: Row -->
            <div class="row">
                <h1 class="blue-heading-h1">Laboratory Calculations</h1>
                <div class="row col-lg-8">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="lab-tabs" >
                        <li class="active"><a href="#home_lab"  data-toggle="tab">Preparing Solutions - Part 1</a></li>
                        <li ><a href="#video2_lab" data-toggle="tab">Preparing Solutions - Part 2</a></li>
                        <li ><a href="#video3_lab" data-toggle="tab">Preparing Solutions - Part 3</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home_lab"><iframe width="560" height="315" src="http://www.youtube.com/embed/vOwdQRBENJQ"></iframe></div>
                        <div class="tab-pane" id="video2_lab"><iframe width="560" height="315" src="https://www.youtube.com/embed/pVNpFP2Wmlc" ></iframe></div>
                        <div class="tab-pane" id="video3_lab"><iframe width="560" height="315" src="https://www.youtube.com/embed/vHx4nqRdpMg"></iframe></div>
                    </div>
                </div>
                <div class="row col-lg-4" >
                    <div class="row" style="align-items: center">
                        <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:dataquizzes' %}">Laboratory Calculations  Quiz</a></span> </i></h3>
                        <h3><i><span style="color:darkblue;font-weight:bold"><a href="{% url 'desktop:Ligation_Calculations' %}">Laboratory Calculations  Exercise</a></span> </i></h3>
                    </div>
                </div>
            </div> <!--end: Row -->

        </div> <<!--end: container -->

    </div><!--end: wrapper -->

{% endblock %}