{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}

    <div class="container">
        <!--start: Wrapper-->
        <div id="wrapper">
            <!-- start: Row -->
            <div class="row col-md-12">
                <h1 class="blue-heading-h1">PCR & Primers</h1>
                <div class="row col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs content-tabs" id="revision-tabs" >
                        <li class="active"><a href="#home_pcr"  data-toggle="tab">PCR & Primers</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home_pcr"><iframe class="hidden-xs" width="560" height="315" src="http://www.youtube.com/embed/c-f1H07D_70"></iframe></div>
                        <div class="embed-responsive embed-responsive-16by9 visible-xs" >
                            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/c-f1H07D_70"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row col-md-6">
                    <div class="col-xs-3">
                        <a href="{% url 'desktop:primersquizzes' %}" title="Quiz"><img src="{% static 'img/quiz.png' %}" class="img-responsive  "/>
                            <div class="image-overlay-link"></div>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="{% url 'desktop:Primer_Design_Exercise' %}" title="Exercise"><img src="{% static 'img/exercise_caption.png' %}" class="img-responsive "/></a>
                        <div class="image-overlay-link"></div>
                        <br>
                    </div>
                </div> <!--end: Row -->
                </div>
                <br>
                <!-- start: Row -->
                <div class="row col-md-12">
                    <h1 class="blue-heading-h1">Restriction Mapping</h1>
                    <div class="row col-md-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs content-tabs" id="revision-tabs" >
                            <li class="active hidden-xs"><a href="#home_rm"  data-toggle="tab">Restriction Mapping 1</a></li>
                            <li class="active visible-xs"><a href="#home_rm_xs"  data-toggle="tab">Restriction Mapping 1</a></li>
                            <li class="hidden-xs"><a href="#video2_rm" data-toggle="tab">Restriction Mapping 2</a></li>
                            <li class="visible-xs"><a href="#video2_rm_xs" data-toggle="tab">Restriction Mapping 2</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home_rm"><iframe  class="hidden-xs" width="560" height="315" src="http://www.youtube.com/embed/yR_heZ4n4Gc"></iframe></div>
                            <div class="tab-pane active embed-responsive embed-responsive-16by9 visible-xs" id="home_rm_xs"> <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/yR_heZ4n4Gc"></iframe></div>
                            <div class="tab-pane embed-responsive embed-responsive-16by9 visible-xs" id="video2_rm_xs">
                                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/yR_heZ4n4Gc"></iframe>
                            </div>
                            <div class="tab-pane" id="video2_rm"><iframe  class="hidden-xs" width="560" height="315" src="https://www.youtube.com/embed/MeTWD8ECeiQ" ></iframe></div>
                        </div>
                    </div>
                    <div class="row col-md-6">
                        <div class="col-xs-3">
                            <a href="{% url 'desktop:restrictionquizzes' %}" title="Quiz"><img src="{% static 'img/quiz.png' %}" class="img-responsive  "/>
                                <div class="image-overlay-link"></div>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="{% url 'desktop:Restriction_Mapping_Exercise' %}" title="Exercise"><img src="{% static 'img/exercise_caption.png' %}" class="img-responsive "/>
                                <div class="image-overlay-link"></div>
                            </a>
                            <br>
                        </div>
                        <div class="col-xs-3">
                            <a href="{% url 'desktop:mapping' 1 %}" title="Exercise"><img src="{% static 'img/rsmap_exer.png' %}" class="img-responsive "/>
                                <div class="image-overlay-link"></div>
                            </a>
                            <br>
                        </div>
                        </div>
                    </div> <!--end: Row -->
                    <br>
                    <!-- start: Row -->
                    <div class="row col-md-12">
                        <h1 class="blue-heading-h1">Laboratory Calculations</h1>
                        <div class="row col-md-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs content-tabs" id="revision-tabs" >
                                <li class="active hidden-xs"><a href="#home_lab"  data-toggle="tab">Preparing Solutions - Part 1</a></li>
                                <li class="active visible-xs"><a href="#home_lab_xs"  data-toggle="tab">Preparing Solutions - Part 1</a></li>
                                <li class="hidden-xs"><a href="#video2_lab" data-toggle="tab">Preparing Solutions - Part 2</a></li>
                                <li class="visible-xs"><a href="#video2_lab_xs" data-toggle="tab">Preparing Solutions - Part 2</a></li>
                                <li class="hidden-xs"><a href="#video3_lab" data-toggle="tab">Preparing Solutions - Part 3</a></li>
                                <li class="visible-xs"><a href="#video3_lab_xs" data-toggle="tab">Preparing Solutions - Part 3</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active hidden-xs" id="home_lab"><iframe class="hidden-xs" width="560" height="315" src="http://www.youtube.com/embed/vOwdQRBENJQ"></iframe></div>
                                <div class="tab-pane active embed-responsive embed-responsive-16by9 visible-xs" id="home_lab_xs"><iframe class="embed-responsive-item"  src="http://www.youtube.com/embed/vOwdQRBENJQ"></iframe></div>
                                <div class="tab-pane hidden-xs" id="video2_lab"><iframe class="hidden-xs" width="560" height="315" src="https://www.youtube.com/embed/pVNpFP2Wmlc" ></iframe></div>
                                <div class="tab-pane embed-responsive embed-responsive-16by9 visible-xs" id="video2_lab_xs"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pVNpFP2Wmlc" ></iframe></div>
                                <div class="tab-pane hidden-xs" id="video3_lab"><iframe class="hidden-xs" width="560" height="315" src="https://www.youtube.com/embed/vHx4nqRdpMg"></iframe></div>
                                <div class="tab-pane embed-responsive embed-responsive-16by9 visible-xs" id="video3_lab_xs"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vHx4nqRdpMg"></iframe></div>                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-xs-3">
                                <a href="{% url 'desktop:dataquizzes' %}" title="Quiz"><img src="{% static 'img/quiz.png' %}" class="img-responsive"/>
                                    <div class="image-overlay-link"></div>
                                </a>
                            </div>
                            <div class="col-xs-3">
                                <a href="{% url 'desktop:Ligation_Calculations' %}" title="Exercise"><img src="{% static 'img/exercise_caption.png' %}" class="img-responsive "/>
                                    <div class="image-overlay-link"></div></a>
                                <br>
                            </div>
                        </div> <!--end: Row -->
                    </div>
                </div> <!--end: container -->
            </div><!--end: wrapper -->

    <script type="text/javascript">
   $(document).ready(function() {
</script>

<script type="text/javascript">
 // DEPENDENCY: https://github.com/flatlogic/bootstrap-tabcollapse
    $('button').on('click', function(){
        alert('preserve attached java script data!');
    });
    $('#revision-tabs').tabCollapse();

</script>

{% endblock %}