{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <!--start: Container -->
    <div class="container">
        <!--start: Wrapper-->
        <div id="wrapper">
            <div class="row col-md-12 page-header hidden-xs ">
                <h2 class="blue-heading-h1 " >Molecular Methods Video Collection</h2>
                <h4 class="">The slideshow below shows the complete collection of videos for the Molecular Methods course. </h4>
                <h4 class=""> Please use the arrows to cycle through the videos.</h4>
            </div>
            <div class="row col-md-12">
                <div class=" row col-md-3"></div>
                <!-- main slider carousel -->

                <div id="myCarousel" class="carousel slide col-md-8">
                    <!-- main slider carousel items -->
                    <div class="carousel-inner" >
                        <div class="active item" data-slide-number="0">
                            <div class="carousel-caption">
                                <h3 class="blue-heading-h3">Molecular Methods - Introduction</h3>
                            </div>
                            <div class="embed-responsive-item">
                                <div class="youtube hidden-xs " id="GgcGFyDvyFA" style="width: 640px; height: 360px;"></div>
                                <div class="youtube visible-xs" id="GgcGFyDvyFA" style="width: 230px; height: 129px;"></div>
                            </div>

                        </div>

                        <div class="item" data-slide-number="1">
                            <div class="carousel-caption">
                                <h3 class="blue-heading-h3">Molecular Methods - Restriction Mapping Part 1</h3>
                            </div>

                            <div class="embed-responsive-item">
                                <div class="youtube hidden-xs" id="yR_heZ4n4Gc" style="width: 640px; height: 360px;"></div>
                                <div class="youtube visible-xs" id="yR_heZ4n4Gc" style="width: 230px; height: 129px;"></div>
                            </div>
                        </div>
                        <div class="item" data-slide-number="2">
                            <div class="carousel-caption">
                                <h3 class="blue-heading-h3">Molecular Methods - Restriction Mapping Part 2</h3>
                            </div>
                            <div class="embed-responsive-item">
                                <div class="youtube hidden-xs" id="MeTWD8ECeiQ" style="width: 640px; height: 360px;"></div>
                                <div class="youtube visible-xs" id="MeTWD8ECeiQ" style="width: 230px; height: 129px;"></div>
                            </div>
                        </div>
                        <div class="item" data-slide-number="3">
                            <div class="carousel-caption">
                                <h3 class="blue-heading-h3">Molecular Methods - Primer Design</h3>
                            </div>
                            <div class="embed-responsive-item">
                                <div class="youtube hidden-xs" id="c-f1H07D_70" style="width: 640px; height: 360px;"></div>
                                <div class="youtube visible-xs" id="c-f1H07D_70" style="width: 230px; height: 129px;"></div>
                            </div>
                        </div>
                        <div class="item" data-slide-number="4">
                            <div class="embed-responsive-item">
                                <div class="carousel-caption">
                                    <h3 class="blue-heading-h3">Preparing Solutions  Part 1: Calculating Molar Concentrations</h3>
                                </div>
                                <div class="youtube hidden-xs" id="vOwdQRBENJQ" style="width: 640px; height: 360px;"></div>
                                <div class="youtube visible-xs" id="vOwdQRBENJQ" style="width: 230px; height: 129px;"></div>
                            </div>
                        </div>
                        <div class="item" data-slide-number="5">
                            <div class="embed-responsive-item ">
                                <div class="carousel-caption">
                                    <h3 class="blue-heading-h3">Preparing Solutions  Part 2: Calculating % Concentrations</h3>
                                </div>
                                <div class="youtube hidden-xs" id="pVNpFP2Wmlc" style="width: 640px; height: 360px;"></div>
                                <div class="youtube visible-xs" id="pVNpFP2Wmlc" style="width: 230px; height: 129px;"></div>
                            </div>
                        </div>
                        <div class="item" data-slide-number="6">
                            <div class="embed-responsive-item">
                                <div class="carousel-caption">
                                    <h3 class="blue-heading-h3">Preparing Solutions  Part 3: Dilutions From Stock Solutions</h3>
                                </div>
                                <div class="youtube hidden-xs" id="vHx4nqRdpMg" style="width: 640px; height: 360px;"></div>
                                <div class="youtube visible-xs" id="vHx4nqRdpMg" style="width: 230px; height: 129px;"></div>
                            </div>
                        </div>
                    </div>

                    <!-- main slider carousel nav controls -->
                    <!--  -->
                    <nav >
                        <ul class="pager ">
                            <li class="previous"><a href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Prev
                                <span class="sr-only">Previous</span></a></li>
                            <li class="next"><a href="#myCarousel"data-slide="next">Next
                                <span class="glyphicon glyphicon-chevron-right " aria-hidden="true"></span></a></li>
                        </ul>
                    </nav>



                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                        <li data-target="#myCarousel" data-slide-to="6"></li>

                    </ol>
                </div>
            </div>
        </div>

    </div>



    </div>
    </div>
    <script src="https://labnol.googlecode.com/files/youtube.js"></script>
{% endblock %}


