{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}




    <!--start: Container -->
	<div class="container">

        <!--start: Wrapper-->
        <div id="wrapper">


        <!--  Carousel - consult the Twitter Bootstrap docs at
              http://twitter.github.com/bootstrap/javascript.html#carousel -->


            <!--Start the slider-->
            <div class="slider-wrapper">

                <div id="da-slider-pdf" class="da-slider">


                 <!--<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
                 <!--<div class="carousel-inner">-->
                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -750px; margin-bottom: 1000px;    "><!-- class of active since it's the first item -->
                                <img src="{% static 'img/bws/Blue-White Screening_01.png' %}">
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -750px;  margin-bottom: 1000px;">
                                <img src="{% static 'img/bws/Blue-White Screening_02.png' %}">
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -750px;  margin-bottom: 1000px;">
                               <img src="{% static 'img/bws/Blue-White Screening_03.png' %}">
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -750px;  margin-bottom: 1000px;">
                               <img src="{% static 'img/bws/Blue-White Screening_04.png' %}">
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -750px;  margin-bottom: 1000px;">
                               <img src="{% static 'img/bws/Blue-White Screening_05.png' %}">
                            </div
                        </div>
                        <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                        </nav>

                    </div>

                </div>


        </div>
    </div><!-- /.carousel -->

          </div>



{% endblock %}
