{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <!--start: Container -->
    <div class="container">

        <!--start: Wrapper-->
        <div id="wrapper">
            <!--Start the slider-->
            <div class="slider-wrapper">
                <div id="da-slider-pdf" class="da-slider">
                    <div class="da-slide">
                        <div class="da-img" style="margin-left: -750px; margin-bottom: 1000px;    ">
                            <img src="{% static 'img/plasmid/Plasmid Miniprep_01.png' %}">
                        </div>
                    </div>

                    <div class="da-slide">
                        <div class="da-img" style="margin-left: -750px; margin-bottom: 1000px;  ">
                            <img src="{% static 'img/plasmid/Plasmid Miniprep_02.png' %}">
                        </div>
                    </div>

                    <div class="da-slide">
                        <div class="da-img" style="margin-left: -750px; margin-bottom: 1000px;  ">
                            <img src="{% static 'img/plasmid/Plasmid Miniprep_03.png' %}">
                        </div>
                    </div>

                    <div class="da-slide">
                        <div class="da-img" style="margin-left: -750px; margin-bottom: 1000px;  ">
                            <img src="{% static 'img/plasmid/Plasmid Miniprep_04.png' %}">
                        </div>
                    </div>
                                    <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
                </div>


            </div>
        </div>
    </div>

{% endblock %}